body {
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#editor {
  width: 50%;
  height: calc(100% - 2rem);
  min-width: 200px;
  padding: 2rem 2rem 0 2rem;
  border: none;
  outline: none;
  resize: none;
}

#preview {
  width: 50%;
  height: 100%;
  min-width: 200px;
  padding: 0 2rem 0 2rem;
  border-left: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;
  overflow: scroll;
}
